.root{
    -fx-background-color: linear-gradient(#E0FFFF, #4682B4);
    -fx-font-size: 11pt; 
}

.button{
    -fx-background-color: linear-gradient(#228B22, #006400);
    -fx-text-fill: #66CDAA;
    -fx-background-radius: 4; 
}

.label-topLayer{
    -fx-text-fill: #228B22;
    -fx-font-size: 18pt;
    -fx-font-family: "Helvetica";
}

.label-classTitle{
    -fx-text-fill: #228B22;
    -fx-font-size: 25pt;
    -fx-font-family: "Helvetica";
}