/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2020, 3:10:39 PM
    Author     : earl
*/
.root{
    -fx-background-color: linear-gradient(#2E2E30, #27292C);
}

.button{
    -fx-background-color: linear-gradient(#E1E2E8, #CECFD6);
    -fx-text-fill: #646468;
    -fx-background-radius: 4; 
}

.label{
    -fx-text-fill: #202020;
    -fx-font-size: 8pt;
    -fx-font-family: "Helvetica";
}

.label-student{
    -fx-text-fill: #E1E2E8;
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica";
}